{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "browsers": "defaults, chrome > 40, safari >= 8"
                }
            }
        ]
    ]
}
